{% extends 'base.html' %}

{%block title%}
 About
{% endblock %}



{%block content%}
<h1>About Us</h1>

<p> <h2>Welcome to <b>Event Bazaar</b>, your one-stop-shop for event management!</h2>
 
    Our story began with a passion for bringing people together and making events unforgettable. We saw the need for a streamlined and <br> user-friendly platform to manage events from start to finish.
     And so, Event bazaar was born!
    
    <h2>Our Mission</h2>
    
    <p>
    Our mission is to empower event organizers and attendees alike, providing a seamless and enjoyable experience for all. <br>
    We strive to make event management a breeze, so you can focus on what matters most - creating unforgettable experiences!
    </p>

    <h2>Our Team</h2>

    <h2>Meet the dream team behind Even bazaar!</h2>
    
    <b>Cynthia</b>, Founder & CEO - With a background in event management and a passion for innovation, Cynthia leads the charge in making Event bazaar the go-to event management platform.<br>
    
    <b>Busisiwe</b>, CTO - A tech whiz with a love for problem-solving, Busi ensures our platform is always cutting-edge and user-friendly.<br>
   
    <b>Christel</b>, Designer - A creative genius with an eye for detail, Name crafts the visual magic that makes Event bazaar shine.
    
    
    
    <h2>Technical team</h2>
    
    <h1>Software Engineers</h1> 
    
    <b>Simanga And Nomfanelo</b>
    

    <h1>Our Values</h1>
    <b>Innovation:</b> We embrace the latest technologies and trends to stay ahead of the game.<br>
    <b>Community:</b> We believe in building strong relationships with our users and partners.<br>
   <b> Fun:</b> We love what we do, and we want you to have a blast using our platform!
    <h3>Join the Fun!</h3></p>

{% endblock %}